@font-face {
	font-family: 'Proxima';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/Proxima-Nova-Light.otf'),
}
@font-face {
	font-family: 'Proxima';
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/Proxima-Nova-Semibold.otf'),
}
@font-face {
	font-family: 'Proxima';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/Proxima-Nova-Extrabold.otf'),
}