

$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #e6e6e6 !default;
$gray-lightest:             #f7f7f9 !default;


$bg-dark: #2d2c2d;
$bg-gray: #f1f1f1;

$brand-color:				#b50000;
$menu-link:					$gray-lighter;
$menu-link-hover:			$yellow;
$menu-background-hover:		$gray-light;
$submenu-link:				$gray;
$menu-divider:				#f2f2f2;
$divider:				$gray-lighter;

$color-button: $gray-lightest;

$shadow:					(0 0 5px $gray);

$input-radius:				15px;
$input-radius-top:			(15px 15px 0 0);
$input-radius-bottom:		(0 0 15px 15px);

$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

$body-bg:       $white !default;
$body-color:    $gray-dark !default;
$inverse-bg:    $gray-dark !default;
$inverse-color: $gray-lighter !default;

$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


$font-family-sans-serif: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$link-color:            $body-color !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

$dt-font-weight: $font-weight-bold !default;

$border-width: 1px !default;
$text-muted: $gray-light !default;
$cursor-disabled:                not-allowed !default;


$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      transparent !default;

$table-inverse-bg:              $gray-dark !default;
$table-inverse-color:           $body-bg !default;

$table-bg-accent:               rgba($black,.05) !default;
$table-bg-hover:                rgba($black,.075) !default;
$table-bg-active:               $table-bg-hover !default;

$table-head-bg:                 $gray-lighter !default;
$table-head-color:              $gray !default;

$table-border-width:            $border-width !default;
$table-border-color:            $gray-lighter !default;

$grid-breakpoints: (
	"def":						0,
	"tablet":					640px,
	"desktop":					1150px
	) !default;

$container-max-widths: (
	tablet:						720px,
	desktop:					1170px
	) !default;

$grid-columns:					12 !default;
$grid-gutter-width-base:		30px !default;
$grid-gutter-widths: (
	def: $grid-gutter-width-base,
	/*phone: $grid-gutter-width-base,
	phone-wide: $grid-gutter-width-base,
	phablet: $grid-gutter-width-base,
	tablet-small: $grid-gutter-width-base,
	tablet: $grid-gutter-width-base,
	tablet-wide: $grid-gutter-width-base,
	desktop: $grid-gutter-width-base,
	desktop-wide: $grid-gutter-width-base*/
	) !default;