@import "variables";
@import "partials/media";
@import "partials/mixins";
@import "partials/grids";
@import "partials/forms";
@import "fonts";

@mixin gradient {
	background: linear-gradient(to right, #00a99d, #93278f);
}

body {
	margin: 0;
	font-family: Proxima, Arial, sans-serif;
}
h1 {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	line-height: 1;
	font-weight: 900;
	margin-bottom: 20px;
	@include mq(desktop) {
		font-size: 72px;
		margin-bottom: 0;
	}
}
.screen {
	box-sizing: border-box;
	min-height: 100vh;
	padding: 7vh 0;
	@include mq(desktop) {
		height: 100vh;
		min-height: 769px;
	}
	&__inner {
		height: 100%;
		@include make-container;
		@include make-container-max-widths;
	}
	&__content {
		box-sizing: border-box;
		
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include mq(tablet) {
			max-width: 408px;
		}
		@include mq(desktop) {
			max-width: 695px;
			padding: 0 30px;
		}
	}
	&--first {

		background-size: auto 100% !important;
		background-image: linear-gradient(135deg,#fbb03b,#dd1919);
		@include mq(tablet) {
			background: 100% center no-repeat, left center no-repeat;
			background-image: url(/img/girl1-tablet.png), linear-gradient(to right,#fbb03b,#dd1919);
		}
		@include mq(desktop) {
			background: right center no-repeat, left center no-repeat;
			background-image: url(/img/girl1-desktop.png), url(/img/bg-gradient1.jpg);
		}
	}
} 

.logo {
	text-align: center;
	&__img {
		width: 50px;
		height: 50px;
		margin-bottom: 70px;
		@include mq(desktop) {
			width: 17.6vh;
			height: 17.6vh;
			margin-bottom: 0;
		}
	}
}

.scale {
	margin-bottom: 20px;
	@include mq(desktop) {
		margin-bottom: 2rem;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		padding-left: calc(42% - 84px);
		@include mq(desktop) {
			padding-left: 255px;
		}
	}
	&__line {
		margin: 20px 0;
		height: 3px;
		background-color: #fff;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: -20px;
			bottom: -20px;
			width: 3px;
			background-color: #fff;
		}
		&:after {
			content: "";
			height: 3px;
			left: 42%;
			right: 0;
			position: absolute;
			@include gradient;
			@include mq(desktop) {
				left: percentage(335/635);
			}
		}
	}
	&__value {
		color: #fff;
		font-size: 1rem;
		font-weight: 300;
		&:first-child {
			text-align: center;
			width: 168px;	
		}
		&:last-child {
			text-align: right;
		}
	}
	&__num {
		font-size: 1rem;
		@include mq(desktop) {
			font-size: 1.5rem;
		}
	}
	&__num+&__text {
		display: none;
		@include mq(desktop) {
			display: block;
		}
	}
}

.offer {
	&__text {
		font-weight: bold;
		color: #fff;
		padding: 0 20px;
		margin-bottom: 20px;
		line-height: 1;
		text-align: center;
		@include mq(desktop){
			margin-bottom: 30px;
		}
	}
	&__form {

	}
}
.form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 70px;
	@include mq(desktop) {
		margin-bottom: 0;
	}
	&__input {
		box-sizing: border-box;
		width: 100%;
		height: 50px;
		border-radius: 35px;
		border: 2px solid #fff;
		background-color: transparent;
		color: #fff;
		text-transform: uppercase;
		padding: 0 40px;
		font-weight: bold;
		outline: none;
		font-family: Proxima, Arial, sans-serif;
		font-size: 1rem;
		margin-bottom: 12px;
		@include input-placeholder {
			color: #fff;
		}
		@include mq(desktop){
			width: percentage(350/635);
			margin-bottom: 0;
			height: 70px;
		}
		&:focus {
			@include input-placeholder {
				color: #ccc;
			}
		}
	}
	&__button {
		width: 100%;
		height: 50px;
		@include mq(desktop){
			width: percentage(255/635);
			height: 70px;
		}
	}
	[type="submit"] {
		display: none;
	}
}

.button {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 35px;
	box-shadow: 0 0px 00px  #580040;
	transition: box-shadow .1s ease-in-out;
	@include gradient;
	&:hover {
		box-shadow: 0 21px 100px  #580040;
	}
}
.show-big {
	display: none;
	@include mq(desktop) {
		display: inline;
	}
}