

@mixin make-container($gutters: $grid-gutter-widths){
	position: relative;
	margin-left: auto;
	margin-right: auto;
	@include make-media-gutters ($gutters);
}
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
	@each $breakpoint, $container-max-width in $max-widths {
		@include mq ($breakpoint) {
			width: $container-max-width;
			max-width: 100%;
		}
	}
}
@mixin make-row(){
	display: flex;
	flex-wrap: wrap;
	
}
@mixin make-col($size, $columns: $grid-columns) {
	flex: 0 0 percentage($size / $columns);
	max-width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns: $grid-columns) {
	margin-left: percentage($size / $columns);
}

@mixin make-col($size, $columns: $grid-columns) {
	flex: 0 0 percentage($size / $columns);
	max-width: percentage($size / $columns);
}
@mixin make-media-col($sizes, $display: block, $columns: $grid-columns){
	$oldValue: 0;
	@each $size,$value in $sizes {
		@if $value != 0 {
			@include mq($size) {
				@if $oldValue == 0 {
					display: $display;
				}
				@if $columns {
					@include make-col($value,$columns);
				}
				@else {
					flex: 0 0 $value;
					@if $value != auto {
						max-width: $value;
					}
					@else {
						max-width: none;
					}
				}
			} 
		}
		@else {
			@include mq($size) {
				display: none;
			}
		}
		$oldValue: $value;
	}
}
@mixin make-media-col-offset($offsets,$columns: $grid-columns){
	@each $size,$value in $offsets {
		@include mq($size) {
			@include make-col-offset($value, $columns);
		}
	}
}

@mixin make-media-gutters($gutters: $grid-gutter-widths) {
	@each $breakpoint in map-keys($gutters) {
		@include mq($breakpoint) {
			$gutter: map-get($gutters, $breakpoint);
			@include padding-sides ($gutter / 2);
		}
	}
}
@mixin make-media-row-gutters($gutters: $grid-gutter-widths){
	@each $breakpoint in map-keys($gutters) {
		@include mq($breakpoint) {
			$gutter: map-get($gutters, $breakpoint);
			@include margin-offsets($gutter / 2);
			& > *{
				@include padding-sides ($gutter / 2);
			}
		}
	}
}

@mixin make-row-gutters-vertical($value:2rem){
	&{
		transform: translateY(-$value);
		margin-bottom: -$value;
		&>*{
			margin-top: $value;
		}
	}
}

@mixin make-media-row-gutters-vertical($gutters: $grid-gutter-widths){
	@each $size,$value in $gutters {
		@include mq($size){
			@include make-row-gutters-vertical($value);
		}
	}
}