@mixin mq($width, $type: min) {
	@if map_has_key($grid_breakpoints, $width) {
		$width: map_get($grid_breakpoints, $width);
		@if $type == max {
			$width: $width - 1px;
		}
		@if $width != 0 {
			@media only screen and (#{$type}-width: $width) {
				@content;
			}
		}
		@else {
			@content;
		}
	}
}

@mixin make-media($map){
	@each $size,$value in $map {
		@include mq($size){
			@content;
		}
	}
}