@mixin align($vertical: true, $horizontal: false, $position: relative) {
	@if $position {position: $position;}
	@if $vertical {top: 50%;}
	@if $horizontal {left: 50%;}
	@if $vertical and $horizontal {transform: translateX(-50%) translateY(-50%);} 
	@else if $vertical {transform: translateY(-50%);} 
	@else {transform: translateX(-50%);}
}

@mixin antialias {
	font-phabletoothing: antialiased;
	-webkit-font-phabletoothing: antialiased;
	-moz-osx-font-phabletoothing: grayscale;
}

@mixin hardware($backface: true, $perspective: 1000) {
	@if $backface {backface-visibility: hidden;}
	perspective: $perspective;
}

@mixin pos($pos, $t: false, $r: false, $b: false, $l: false, $z: false, $hardware: true) {
	@if $pos == fixed and $hardware { @include hardware; }
	@if $pos { position: $pos; }
	@if $t { top: $t; }
	@if $r { right: $r; }
	@if $b { bottom: $b; }
	@if $l { left: $l; }
	@if $z { z-index: $z; }
}
@mixin truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin margin-ends($spacing) { margin: { top: $spacing; bottom: $spacing; } }
@mixin margin-sides($spacing) { margin: { left: $spacing; right: $spacing; } }
@mixin margin-offsets($spacing) { margin: { left: -$spacing; right: -$spacing; } }
@mixin margin-auto { margin: { left: auto; right: auto; } }

@mixin padding-sides($spacing) {padding: {left: $spacing; right: $spacing;}}

@mixin flush-ends { margin: { top: 0; bottom: 0; } }
@mixin flush-sides { margin: { left: 0; right: 0; } }

@mixin unselectable {
	-webkit-touch-callout: none;
	user-select: none;
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin bg-image{
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}





